#buy_up1,#buy_up2,#buy_ship,#fly_away
{
	opacity: 0.3;
	background-color: lightblue;
}

#clickSpot
{
	position: absolute;
	top: 70%;
    right: 45%;
}

#score_place
{
	position: absolute;
	top:5%;
	right:5%;
	font-size: 300%;
}

#clickSpot
{


}
